*
{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
a{
	color: #383749;
	font-family: 'Roboto Condensed', sans-serif;
}
p{
	font-family: 'Roboto Condensed', sans-serif;

}
a:hover{
	text-decoration:none ;
}
.main-color{
	color: #00a2b1;
}
h5{
	font-family: 'Merriweather', serif;
}

::-webkit-scrollbar{
	background-color: #00a2b1;
	width: 8px;
}
::-webkit-scrollbar-thumb{
	background-color: #ccc;
	border: .5px solid #333;
	border-radius: 10px;    ;
	-webkit-border-radius: 10px    ;
	-moz-border-radius: 10px    ;
	-ms-border-radius: 10px    ;
	-o-border-radius: 10px    ;
}

/* start section above nav bar  */
.fixed-first-nav {
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
}
.fixed-first-nav a:hover{
	color: #00a2b1;
}

.fixed-first-nav i{
	color: #00a2b1;
	margin-right: 12px;
    font-size: 20px;
}
.fixed-first-nav i:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.phone{
	margin-left: 25px;
	position: relative;
}
.phone::before{
	position: absolute;
	content: "";
	height: 37px;
    width: 2px;
    left: -13px;
    top: -8px;
	background-color: #ebebeb
}
.phone i{
	transform: rotatey(180deg);
	-webkit-transform: rotatey(180deg);
	-moz-transform: rotatey(180deg);
	-ms-transform: rotatey(180deg);
	-o-transform: rotatey(180deg);
}
.fixed-first-nav input{
	width: 280px;
    padding: 12px 26px;
    border: 0;
    background: #f3f3f3;
	color: #383749;
}
.fixed-first-nav input:focus{
	outline: none;
	box-shadow: none;
}
.fixed-first-nav .search{
	background-color: #00a2b1;
	width: 50px;
    height: 50px;
    border: 0;
    cursor: pointer;
    outline: none;
}
.fixed-first-nav .search i{
	color: #fff!important;
	margin-right: 0;
}
.fixed-first-nav .search:hover i{
	color: #00a2b1!important;
}
.fixed-first-nav .search:hover {
	background-color: #fff!important;
}

.nav-contact-right span a{
 color: #383749;
}
.big-nav .navbar-toggler{
	outline: none
}

/* end section above nav bar  */


/* start section  nav bar  */

.big-nav {
 background-color: rgba(255,255,255,.1);
 z-index: 999999999;
}
.big-nav-fixed{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 85px;
	background-color: #ccc;
}
.nav-logo img{
	width: 200px;
	height: 70px;
  }
.big-nav-home .nav-item a{
  color:#fff!important;
  text-transform: uppercase;
}
.big-nav-fixed .navbar-collapse{
	background-color: #ccc;
	text-align: center;
}

.big-nav-fixed .nav-item a{
	color:#333!important;
	font-weight: bold;
    margin-right: 10px;
  }

  .big-nav-fixed .nav-item .social-container a{
	color: #fff !important;
  }
  .big-nav-fixed .nav-item .social-container .main-btn{
	color: rgb(5, 5, 5) !important;
  }
.big-nav-home .nav-item a:hover{
	color:#00a2b1!important;
  }

.social-container .btn-sc {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 24px;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.social-btn .main-btn {
	box-shadow: none;

}

.btn-sc:active, .btn-sc:focus {
  outline: none;
}

.main-btn:active {
  transform:scale(1.17);
}
.social-container .social-btn {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-btn .social-btn-list {
  position: absolute;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.social-btn .social-btn-list li {
  display: inline-block;
}
.social-btn.open .icon-bars {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}



.social-container .social-btn .icon-bars {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.social-container .social-btn .social-btn-list .btn-sc {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
}
.social-container .social-btn .social-btn-list .btn-sc:nth-child(1) {
  -moz-transition: 0.3s 1.2s;
  -o-transition: 0.3s 1.2s;
  -webkit-transition: 0.3s;
  -webkit-transition-delay: 1.2s;
  -webkit-transition: 0.3s 1.2s;
  transition: 0.3s 1.2s;
}
.social-container .social-btn .social-btn-list .btn-sc:nth-child(2) {
  -moz-transition: 0.3s 0.9s;
  -o-transition: 0.3s 0.9s;
  -webkit-transition: 0.3s;
  -webkit-transition-delay: 0.9s;
  -webkit-transition: 0.3s 0.9s;
  transition: 0.3s 0.9s;
}
.social-container .social-btn .social-btn-list .btn-sc:nth-child(3) {
  -moz-transition: 0.3s 0.6s;
  -o-transition: 0.3s 0.6s;
  -webkit-transition: 0.3s;
  -webkit-transition-delay: 0.6s;
  -webkit-transition: 0.3s 0.6s;
  transition: 0.3s 0.6s;
}
.social-container .social-btn .social-btn-list .btn-sc:nth-child(4) {
  -moz-transition: 0.3s 0.3s;
  -o-transition: 0.3s 0.3s;
  -webkit-transition: 0.3s;
  -webkit-transition-delay: 0.3s;
  -webkit-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
}
.social-container .social-btn.open .social-btn-list .btn-sc {
  opacity: 1;
}
.social-container .social-btn.open .social-btn-list .btn-sc:nth-child(1) {
  top: 266px;
  -moz-transition: 0.3s 0.3s;
  -o-transition: 0.3s 0.3s;
  -webkit-transition: 0.3s;
  -webkit-transition-delay: 0.3s;
  -webkit-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
}
.social-container .social-btn.open .social-btn-list .btn-sc:nth-child(2) {
  top: 200px;
  -moz-transition: 0.3s 0.6s;
  -o-transition: 0.3s 0.6s;
  -webkit-transition: 0.3s;
  -webkit-transition-delay: 0.6s;
  -webkit-transition: 0.3s 0.6s;
  transition: 0.3s 0.6s;
}
.social-container .social-btn.open .social-btn-list .btn-sc:nth-child(3) {
  top: 135px;
  -moz-transition: 0.3s 0.9s;
  -o-transition: 0.3s 0.9s;
  -webkit-transition: 0.3s;
  -webkit-transition-delay: 0.9s;
  -webkit-transition: 0.3s 0.9s;
  transition: 0.3s 0.9s;
}
.social-container .social-btn.open .social-btn-list .btn-sc:nth-child(4) {
  top: 70px;
  -moz-transition: 0.3s 1.2s;
  -o-transition: 0.3s 1.2s;
  -webkit-transition: 0.3s;
  -webkit-transition-delay: 1.2s;
  -webkit-transition: 0.3s 1.2s;
  transition: 0.3s 1.2s;
}

.facebook {
  background: #3a5795;
}

.twitter {
  background: #55acee;
}

.gplus {
  background: #dd4b39;
}

.pinterest {
  background: #bd081c;
}

.bars {
  background-color: transparent
}




/* end nav section */

/* start home section */

.carousel-item-three {
	position: relative;
	height: 600px;
	overflow: hidden;
}

.slide-1, .slide-2, .slide-3 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.slide-1 {
	background: url(../images/panner-1.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat!important;
	width: 100%;
	height: 100%;
	animation: fade1 30s infinite;
}


.slide-2 {
	background: url(../images/panner-3.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat!important;
	width: 100%;
	height: 100%;
	animation: fade2 30s infinite;

}

.slide-3 {
	background: url(../images/panner-4.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat!important;
	width: 100%;
	height: 100%;
	animation: fade3 30s infinite;
}

@keyframes fade1 {
	0% {
			opacity: 1;
			transform: scale(1.3);
	}
	33.3333333% {
			opacity: 0;
	}
	66.66666% {
			opacity: 0;
	}
	100% {
			opacity: 0;
	}
}

@keyframes fade2 {
	0% {
			opacity: 0;
	}
	33.3333333% {
			opacity: 1;
			transform: scale(1.3);
	}
	66.66666% {
			opacity: 0;
	}
	100% {
			opacity: 1;
			transform: scale(1.3);
	}
}

@keyframes fade3 {
	0% {
			opacity: 0;
	}
	33.3333333% {
			opacity: 0;
	}
	66.66666% {
			opacity: 1;
			transform: scale(1.3);
	}
	100% {
			opacity: 0;
	}
}

.overlay-1 {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, .8)
}
.overlay
{
	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	background-color: rgba( 51, 51, 51, .1)
}


.center-block-body {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.center-block-wrap {
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: middle;
}

.center-block {
	position: absolute;
	top: -10px;
	width: 100%;
	height: 100%;
}
.home-content p {
	color: #fff;
	text-transform: capitalize;
	font-size: 25px
}
.home-content p span{
	color: #00a2b1;
	font-weight: bold;
	text-transform: uppercase;
}
.home-content .btn{
	color: #fff;
	background-color: #00a2b1;
	width: 130px;
}
.home-content button:hover{
	color: #00a2b1;
	background-color: #fff;
	width: 145px;
}

/* end home section */

/* start serrvice section */
.service-container{
	background-color: #fff
}
.header span{
  color: #00a2b1;
}
.header h3{
	position: relative;
	font-size: 38px;
    line-height: 38px;
    font-weight: 700;
  }

.header hr {
	width: 6%;
	border-bottom: 1px solid #00a2b1;
}
.header:hover hr {
	width: 10%;
}
.header h3::after{
	position: absolute;
	content: "O";
    font-size: 2em;
    opacity: .06;
    top: -0.25em;
    left: 0;
    right: 0;
	margin: auto;
}
.read-more a {
    position: relative;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 700;
    color: #00a2b1;
    text-decoration: none;
    text-transform: uppercase;
	letter-spacing: .1em;
}
.read-more a i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
	transition: all .35s;
}
.service-box:hover .read-more a i {
	left: 100%;}

.service-box p i{
	color: #00a2b1;
	font-size: 42px;
}
.service-box p {
	color: #333;
}
.service-box{
	height: 100%;
	box-shadow: 2px 2px 3px #eee
}
.service-box h5{
	text-transform: uppercase;
}
/* end service section */

/* start about section */
.about-container{
	background-color: #f7f7f7
}
.about-container h3::after{
	content: "A"
}
.bout-projects h5{
	font-size: 50px;
    line-height: 1.2;
}
/* end about section */

/*start team section */
.team-card{
	position: relative;
	box-shadow: 2px 2px 3px #f3f3f3,	-2px -2px 3px #f3f3f3;
	width: 60%;
	margin: auto;
	background-color: #f3f3f3;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.team-card-content {
  padding:60px 50px 10px;
}
.team-persons{
	position: relative;
}
.team-persons i , .team-persons h5{
	color: #00a2b1
}
.team-persons .leftt , .rightt{
	position: absolute;
	top: 58%;
	cursor: pointer;
	font-size: 24px;
}
.team-persons .leftt{
	left: 21%;
}
.team-persons .rightt{
	right: 21%;
}
.team-card img{
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: absolute;
	width: 30%;
	right: 35%;
	top: -70px;
	height: 130px;
}
.card-none{
	display: none;
}
.team-card:hover img{
  filter: saturate(0);
  -webkit-filter: saturate(0);
}

/* end team section */

/* start course section */
.courses-links a{
	margin-left: 10px;
	font-size: 18px;
    line-height: 1;
    color: #383749;
}
.courses-links a:hover{
	color: #00a2b1
}
.courses-container{
	background-color: #f7f7f7
}
.courses-container h5{
	font-size: 42px;
    font-weight: 400;	
}
.course-card{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.course-content h4:hover{
 color: #00a2b1;
}
.course-content .course-teacher a{
	font-style: italic;
	margin-left: 10px;
	color: #00a2b1;
	font-size: 18px;
}
.course-content .course-date span {
	margin-left: 10px;
	font-size: 18px;
}
.course-rate .course-price {
	font-size: 24px;
    font-weight: 700;
}
.course-rate .course-price .discount{
	margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: #c0c1cd;
    text-decoration: line-through
}
.course-rate .stars i{
	color: #f3a90b;
}
.course-rate .stars span{
	font-size: 13px;
	color: #c0c1cd;
}
.course-card img{
	/* width: 351px; */
	width: 100%;
	height: 286px!important;
}
.corse-android{
	position: relative;
	height: 100%;
}
.course-card:hover{
	box-shadow: 0 24px 38px rgba(81,107,117,.21);
}
.android::after{
	position: absolute;
	content: "OFFER";
	top: 63px;
    right: 16px;
    background-color: #333;
    color: #fff;
    width: 58px;
    text-align: center;
    height: 25px;
}
.ios::after{
	position: absolute;
	content: "Free";
	top: 63px;
    right: 16px;
    background-color: #333;
    color: #fff;
    width: 58px;
    text-align: center;
    height: 25px;
}
.course-button{
	width: 20%;
	margin: auto;
	color: #fff;
	background-color: #00a2b1;
	height: 40px;
	border: 1px solid #00a2b1
}
.course-button:hover{
	background-color: #fff;
	color: #00a2b1;
}
/* end courses section */

/* start pics section */

.pics-container img:hover{
	opacity: .6;
}
.pics-container{
	background-color: #fff;
}

/* end pics section */

/* start contact section */


.contact-container h3::after{
	position: absolute;
	content: "G";
    font-size: 2em;
    opacity: .06;
    top: -0.25em;
    left: 0;
    right: 0;
	margin: auto;
}
.contact-container{
	background-color: #f7f7f7
}
.footer-form .btn{
	background-color: #00a2b1!important;
	color: #fff;
	border: 1px solid #00a2b1;
}
.footer-form .btn:hover{
	background-color: #fff!important;
	color: #00a2b1;
}
.footer-about span{
	font-weight: bold;
}
.footer-contact i{
  font-size: 20px;
  color: #ffff;
  padding: 6px 6px;
  background-color: #00a2b1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.footer-contact i:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
.contact-doupple h5{
	text-transform: uppercase;
	font-size: 24px;
}
/* end footer */

/* start last section */
.last-section{
	background-color: #ccc
}
.last-section .social i{
	font-size: 20px;
	color: #ffff;
	padding: 6px 6px;
	background-color: #00a2b1;
	width: 37px;
    height: 33px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.last-section .social i:hover{
	background-color: #fff;
	color: #00a2b1;
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
}
.copyright{
	font-size: 18px;
}
.copyright a{
	font-size: 18px;
	font-weight: bold;
	color: #00a2b1;
}

/* end last section */
/* start scroll top */
.sccroll-top i
{
	position: fixed;
	bottom: 20px;
	right: 25px;
	background-color:#00a2b1;
	display: block;
	padding: 10px;
	font-size: 22px;
	cursor: pointer;
	color: #fff;
	display: none;
	z-index: 999999;
	border-radius:50% ;
	-webkit-border-radius:50% ;
	-moz-border-radius:50% ;
	-ms-border-radius:50% ;
	-o-border-radius:50% ;
}
.sccroll-top i:hover
{
	color: #00a2b1;
	background-color: #fff
}











/* media query */


@media screen and (max-width: 971px) {
	

	.nav-contact-right input{
	width: 275px
	}
	.register{
		margin-left:5px!important;
	}
	.onlybig{
		display: none;
	}
	.course-button{
		width: 40%;
	}
	.courses-container h5 {
		font-size: 36px;
	}

	
  }

  @media screen and (max-width: 450px) {
	.nav-contact-lef {
      display: none
	}
	.nav-contact-right input{
		width: 80%;
		float: none!important;
		margin-bottom: 10px;
		}
	.nav-contact-right .search{
		width: 18%;
		}
	.team-card{
		width: 85%
	}
	.team-persons .leftt{
	left: 11%;
}
.team-persons .rightt{
	right: 11%;
}
.copyright{
font-size: 16px;
}
.social{
	text-align: center;
	float: none!important;
}
.search-contaner , .nav-contact-right{
	margin: 0!important
}
.Login , .register {
  font-size:24px;
  text-align: center;
}

}

